<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    </head>
    <head th:fragment="js">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous">
        </script>
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand font-weight-bold text-warning" href="#">SIELEKTHOR</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <a class="nav-item nav-link "
               th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"
               th:href="@{/}">
                Barang<span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link "
               th:classappend="${#httpServletRequest.getRequestURI().toString().contains('/bioskop/') ? 'active':''}"
               th:href="@{/bioskop/viewall/}">
                Pembelian<span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link "
               th:classappend="${#httpServletRequest.getRequestURI().toString().contains('/film/') ? 'active':''}"
               th:href="@{/film/viewall}">
                Filter Pembelian<span class="sr-only">(current)</span>
            </a>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/bioskop/view}" method="GET">
            <input class="form-control mr-sm-2" type="search"
                   name="noBioskop" placeholder="No Bioskop" aria-label="Search">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
</body>
</html>