<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    </head>
    <head th:fragment="js">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous">
        </script>
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-warning fix">
    <a class="navbar-brand font-weight-bold text-light" href="/">SIELEKTHOR</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse font-weight-bold">
        <ul class="navbar-nav mr-auto">
            <a class="nav-item nav-link text-dark"
               th:classappend="${#httpServletRequest.getRequestURI() == '/barang' ? 'active':''}"
               th:href="@{/barang}">
                Barang<span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link text-dark"
               th:classappend="${#httpServletRequest.getRequestURI().toString().contains('/pembelian') ? 'active':''}"
               th:href="@{/pembelian}">
                Pembelian<span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link text-dark"
               th:classappend="${#httpServletRequest.getRequestURI().toString().contains('/filter/pembelian') ? 'active':''}"
               th:href="@{/pembelian/filter}">
                Filter Pembelian<span class="sr-only">(current)</span>
            </a>
        </ul>
    </div>
</nav>
</body>
</html>