<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>21 Cineplux</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 th:text="'Barang dengan kode ' + ${kodeBarang} + ' berhasil ditambahkan.'"></h2>
                <br>
                <a class="btn btn-outline-warning" href="/barang">Kembali</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>