<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Form Tambah Barang</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card-body row no-gutters justify-content-center">
        <h2 class="text-center col-md-12">Form Tambah Barang</h2>
        <br>
      <div class="container col-md-8 p-4 m-4" th:style="'
        background:#E0E0E0;
        border-radius:20px;'">
        <form th:action="@{/barang/tambah}" th:object="${barang}" method="POST" class="mr-3 ml-3">
          Nama Barang<br>
          <input required class="form-control" type="text" th:field="*{namaBarang}" />

          Kode Barang<br>
          <input required class="form-control" type="text" th:field="*{kodeBarang}" />

          Merk Barang<br>
          <input required class="form-control" type="text" th:field="*{merkBarang}" />

          Stok Barang<br>
          <input required min="0" class="form-control" type="number" th:field="*{stok}" />

          Garansi Toko<br>
          <input required min="0" class="form-control" type="number" th:field="*{jumlahGaransi}" />

          Deskripsi<br>
          <input required class="form-control" type="text" th:field="*{deskripsiBarang}" />

          Tipe Barang<br>
          <select class="form-control" name="tipe" th:style="'width:100%'">
            <option th:each="tipe : ${listTipe}" th:value="${tipe.id}" th:text="${tipe.nama}">
            </option>
          </select>

          Harga<br>
          <input required min="0" class="form-control " type="number" th:field="*{hargaBarang}" />

          <br>
          <div class="d-flex justify-content-end">
            <a class="btn btn-light text-warning border-warning mr-4" href="/barang/">Batal</a>
          <button class="btn btn-warning" type="submit"  name="submit">Simpan</button>
          </div>
        </form>
      </div>
    </div>
</div>

</body>

</html>