<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Form Tambah Barang</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card-body row no-gutters justify-content-center">
        <h2 class="text-center col-md-12">Cari Barang</h2>
        <br>
      <div class="container col-md-8 p-4 m-4">
        <form th:action="@{/barang/cari}" method="POST" class="mr-3 ml-3">
          Tipe<br>
          <select name="idTipe" class="form-control" th:style="'width:100%'">
            <option th:each="tipe : ${listAllTipe}" th:value="${tipe.id}" th:text="${tipe.nama}">
            </option>
          </select>
          <br><br>

          Stok<br>
          <div>
            <input type="radio" th:value="1" name="isAvail"/>
            <label th:for="1" th:text="'Available'"></label><br>
            <input type="radio" th:value="0" name="isAvail"/>
            <label th:for="0" th:text="'Sold Out'"></label>
          </div>
          <br><br>

          <br>
          <div class="d-flex justify-content-center">
            <button class="btn btn-warning pr-5 pl-5 mr-4" type="submit" >Cari</button>
            <a class="btn btn-light text-warning border-warning pr-5 pl-5 ml-4" href="/pembelian">Kembali</a>
          </div>
        </form>
      </div>
    </div>
</div>

</body>

</html>