<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Form Tambah Member</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 class="text-center">Form Tambah Member</h2>
                <br>
                <form th:action="@{/member/tambah}" th:object="${member}" method="POST">
                    Nama <br>
                    <input required class="form-control" type="text" th:field="*{namaMember}" />
                    <br><br>

                    Tanggal Lahir<br>
                    <input required class="form-control" name="tglLahir" type="date" th:field="*{tanggalLahir}" />
                    <br><br>

                    Tanggal Pendaftaran<br>
                    <input required class="form-control" name="tglDaftar" type="date" th:field="*{tanggalPendaftaran}" />
                    <br><br>

                    Jenis Kelamin<br>
                    <div>
                        <input type="radio" th:value="1" name="jenisKelamin" th:field="*{jenisKelamin}"/>
                        <label th:for="1" th:text="'Laki-laki'"></label><br>
                        <input type="radio" th:value="0" name="jenisKelamin" th:field="*{jenisKelamin}"/>
                        <label th:for="0" th:text="'Perempuan'"></label>
                    </div>
                    <br>
                    <hr>

                    <br>
                    <div class="text-center">
                    <a class="btn btn-outline-warning " href="@{/member}">Batal</a>
                        <button class="btn btn-warning" type="submit"  name="submit">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>