<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Form Tambah Penilaian</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 class="text-center">Form Tambah Pembelian</h2>
                <br>
                <form th:action="@{/pembelian/tambah}" th:object="${pembelian}" method="POST">
                    <input type="hidden" th:field="*{id}" />

                    Nama Admin : <br>
                    <input required class="form-control" type="text" th:field="*{namaAdmin}" />
                    <br><br>

                    Pembeli: <br>
                    <select name="member" th:field="*{member.id}" class="form-control" th:style="'width:100%'">
                        <option th:each="member : ${listAllMember}" th:value="${member.id}" th:text="${member.namaMember}">
                        </option>
                    </select>
                    <br><br>

                    Metode Pembayaran : <br>
                    <div>
                        <input type="radio" th:value="1" name="isCash" th:field="*{isCash}"/>
                        <label th:for="1" th:text="'Tunai'"></label><br>
                        <input type="radio" th:value="0" name="isCash" th:field="*{isCash}"/>
                        <label th:for="0" th:text="'Cicil'"></label>
                    </div>
                    <br><br>

                    <h2>Daftar Barang</h2>
                    <table>
                        <tbody>
                        <tr th:each="selectedPB, iterationStatus : ${listPembelianBarang}">
                            <td class="col-md-9">Nama Barang <br>
                                <select class="form-control" th:field="*{listPembelianBarang[__${iterationStatus.index}__].barang}" th:style="'width:100%'">
                                    <option th:each="barang : ${listAllBarang}" th:value="${barang.id}" th:text="${barang.namaBarang}">
                                    </option>
                                </select>
                            </td>
                            <td class="col-md-9">Qty <br>
                            <input required min="0" class="form-control" type="number" th:field="*{listPembelianBarang[__${iterationStatus.index}__].quantity}"/>
                            </td>
                            <td class="col-md-9"><br>
                                <button class="btn btn-danger" type="submit" name="deleteRow" th:value="${iterationStatus.index}">Hapus</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-9">
                                <button class="btn btn-primary mt-3" type="submit" name="addRow" >Tambah Row</button>
                            </td>
                        </tr>
                        </thead>
                        </tbody>
                    </table>
                    <br>
                    <hr>
                    <div class="d-flex justify-content-center">
                    <a class="btn btn-outline-warning mr-3" href="/">Batal</a>
                    <button class="btn btn-warning ml-3" type="submit"  name="submit">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>