<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SIELEKTHOR</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="d-flex justify-content-center">
    <div class="m-4">
        <div class="container bg-warning"
             th:style="'padding:60px 100px 60px 100px;
                        margin-top:80px;
                        border-radius:20px;'">
            <h2 class="text-center font-weight-bold text-light">WELCOME TO SIELEKTHOR</h2></div>
        <div class="justify-content-center">
            <h5 class="text-center font-weight-bold text-warning"  th:style= "'margin:30px;'">
            List of Features:</h5>
            <div class="d-flex justify-content-center" th:style="'
            .a {
                font-size: 18px;
                padding-left: 45px;
                padding-right: 45px;
                border-radius: 10px;
            }'">
                <a th:href="@{/barang}" class="mx-2 btn btn-warning font-weight-bold">Barang</a>
                <a th:href="@{/pembelian}" class="mx-2 btn btn-warning font-weight-bold">Pembelian</a>
                <a th:href="@{/cari/pembelian}" class="mx-2 btn btn-warning font-weight-bold">Filter Pembelian</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>