<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SIELEKTHOR</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="d-flex justify-content-center">
    <div class="m-4">
        <h2 th:style="'text-align:center;'">Welcome to SIELEKTHOR</h2>
        <div class="d-flex justify-content-center" th:style=
                "'margin:50px;'">
            <a th:href="@{/barang/viewall}" class="mx-2 btn btn-warning font-weight-bold">Barang</a>
            <a th:href="@{/}" class="mx-2 btn btn-warning font-weight-bold">Pembelian</a>
            <a th:href="@{/}" class="mx-2 btn btn-warning font-weight-bold">Filter Pembelian</a>
        </div>
    </div>
</div>
</body>

</html>