<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SIELEKTHOR</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container" th:style="'margin-top:70px;'">
    <h2 th:style=
                "'text-align:center;
            padding-bottom:20px;'"
    >Daftar Pembelian</h2>
    <br>
    <a th:href="@{/pembelian/tambah}" th:style=
            "'font-weight:bold;
            margin-bottom:20px;'"
       class="mx-2 btn btn-warning">+Tambah Pembelian</a>
    <div th:if="*{listPembelian.size() != 0}">
        <table class="table">
            <thead>
            <tr th:style="'text-align:center;'" class="bg-warning">
                <th>No</th>
                <th>No Invoice</th>
                <th>Total Harga</th>
                <th>Member</th>
                <th>Jumlah Barang</th>
                <th>Tanggal Pembelian</th>
                <th>Aksi</th>
            </tr>
            </thead>
            <tbody>
            <div th:with="jumlah=0"></div>
            <tr th:each="pembelian, iterationStatus : ${listPembelian}"
                th:style="${iterationStatus.odd} ? 'background:#E0E0E0;'">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${pembelian.noInvoice}"></td>
                <td th:text="Rp + ${pembelian}"></td>
                <td th:text="${pembelian.member.namaMember}"></td>
                <td th:text="${jumlah}"></td>
                <td th:text="${pembelian.tanggalPembelian}"></td>
                <td>
                    <a class="btn btn-sm btn-primary" th:href="@{/pembelian/} + ${pembelian.id}">Lihat</a>
                    <a class="btn btn-sm btn-danger" th:href="@{/pembelian/delete/} + ${pembelian.id}">Hapus</a>
                </td>
            </tr>
            </tbody>
        </table>
        </form>
    </div>
    <div th:unless="*{listPembelian.size() != 0}">
        <h2 th:text="'Tidak ada barang'"></h2>
    </div>


</div>
</body>

</html>