<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SIELEKTHOR</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card-body row no-gutters justify-content-center">
        <h2 class="text-center col-md-12">Cari Pembelian</h2>
        <br>
        <div class="container col-md-8 p-4 m-4">
    <form th:action="@{/cari/pembelian}" method="POST" class="mr-3 ml-3">
        Member<br>
        <select name="idMember" class="form-control" th:style="'width:100%'">
            <option th:each="member : ${listAllMember}" th:value="${member.id}" th:text="${member.namaMember}">
            </option>
        </select>
        <br><br>

        Pembayaran<br>
        <div>
            <input type="radio" th:value="1" name="isCash"/>
            <label th:for="1" th:text="'Tunai'"></label><br>
            <input type="radio" th:value="0" name="isCash"/>
            <label th:for="0" th:text="'Cicil'"></label>
        </div>
        <br><br>

        <br>
        <div class="d-flex justify-content-center">
            <button class="btn btn-warning pr-5 pl-5 mr-4" type="submit" >Cari</button>
            <a class="btn btn-light text-warning border-warning pr-5 pl-5 ml-4" href="/pembelian">Kembali</a>
        </div>
    </form>
    </div>
    </div>
    <hr>
    <div th:if="*{listPembelian.size() != 0}" class="m-5">
        <table class="table">
            <thead>
            <tr th:style="'text-align:center;'" class="bg-warning">
                <th>No</th>
                <th>No Invoice</th>
                <th>Total Harga</th>
                <th>Member</th>
                <th>Tanggal Pembelian</th>
                <th>Aksi</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pembelian, iterationStatus : ${listPembelian}"
                th:style="${iterationStatus.odd} ? 'background:#E0E0E0;'" class="text-center">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${pembelian.noInvoice}"></td>
                <td th:text="Rp + ${pembelian.total}"></td>
                <td th:text="${pembelian.member.namaMember}"></td>
                <td th:text="${pembelian.tanggalPembelian}"></td>
                <td>
                    <a class="btn btn-sm btn-primary" th:href="@{/pembelian/} + ${pembelian.id}">Lihat</a>
                    <form th:action="@{/pembelian/hapus/} + ${pembelian.id}" method="POST">
                        <button class="btn btn-sm btn-danger" type="submit">Hapus</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        </form>
    </div>
    <div th:unless="*{listPembelian.size() != 0}" class="ml-5">
        <h2 th:text="'Tidak ada barang'"></h2>
    </div>

</div>
</body>

</html>